:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --text-selection-color: #404bbf;
  --hero-footer-background-color: #2e2f42;
  --main-background-color: #fff;
  --features-btn-color: #4d5ae5;
  --features-btn-background-color: #f4f4fd;
  --portfolio-btn-white: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  margin: 0;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.page-header {
  background-color: var(--main-background-color);
  height: 72px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
}

.underline {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.logo {
  color: var(--features-btn-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.site-nav {
  display: flex;
  padding-left: 76px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-selection-color);
}

.contacts {
  display: flex;
}

.main-contacts {
  display: flex;
}

.contacts .item + .item {
  margin-left: 40px;
}

.contacts .item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts .link {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--text-selection-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.page-header {
  margin-bottom: 15px;
}

.hero {
  background-color: var(--hero-footer-background-color);
  margin-top: 0;
  text-align: center;
  display: block;
}

.hero-title {
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--main-background-color);
  background-color: var(--features-btn-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-block;
  padding: 16px, 32px;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--main-background-color);
  border: none;
  cursor: pointer;
  background-color: var(--text-selection-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: var(--features-btn-background-color);
}

.employees {
  background-color: var(--main-background-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-top: 0;
}

.feature {
  padding-top: 105px;
  padding-bottom: 120px;
  display: flex;
}

.feature .item + .item {
  padding-left: 24px;
}

.feature .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.task {
  margin-top: 72px;
  margin-bottom: 120px;
  display: flex;
}

.task .item + .item {
  padding-left: 24px;
}

.team-section .section-title {
  padding-top: 120px;
}

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 8px;
}

.team {
  display: flex;
  padding-top: 72px;
  padding-bottom: 120px;
}

.employee-card {
  border: 1px solid rgba(46, 47, 66, 0.16);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.team .employees + .employees {
  padding-left: 24px;
}

.team .employees {
  border-radius: 1px;
  text-align: center;
}

.employees .text {
  padding-bottom: 32px;
}

.bottom {
  background-color: var(--hero-footer-background-color);
  margin-top: 24px;
  display: flex;
}

.main-footer {
  padding-top: 76px;
}

.logo .down {
  line-height: 1.17;
}

.bottom-studio {
  color: var(--features-btn-background-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.bottom-text {
  color: var(--portfolio-btn-white);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 16px;
  padding-bottom: 100px;
  padding-right: 852px;
}

.features {
  display: flex;
  margin-top: 96px;
  margin-bottom: 72px;
  justify-content: center;
}

.features .link + .link {
  padding-left: 24px;
}

.features-btn {
  color: var(--features-btn-color);
  background-color: var(--features-btn-background-color);
  border: 1px;
  border-color: var(--portfolio-btn-white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
}

.features-btn:hover,
.features-btn:focus {
  color: var(--main-background-color);
  background-color: var(--text-selection-color);
  border: 1px;
  border-color: var(--portfolio-btn-white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.features-description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.features-description > .link {
  flex-basis: calc(100% / 3 - 24px);
  margin-bottom: 48px;
  margin-left: 24px;
}

.features-description .link:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.features-description .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-description .text {
  color: var(--primary-text-color);
  padding-top: 8px;
}

.card-content {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #E7E9FC;
}
